.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.placeholder {
  color: #666;
}

.icon-arrow {
  min-width: vw(60);
  height: .2rem;
  display: inline-block;
  position: relative;
  margin: 0 vw(20);
  transform: translateY(50%);
}

.city-to {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #ccc;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: #ccc;
  }

  &:after {
    content: '';
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: vw(6) vw(6) vw(6) 0;
    border-color: transparent transparent #ccc;
  }
}

.price-symbol {
  font-size: vw(12);
  color: $price-color;
}

.price {
  color: $price-color;
}

%isLink {
  width: 10px;
  height: 10px;
  background: transparent;
  border-color: #b7b7b7;
  border-width: 0 2px 2px 0px;
  border-style: solid;
}

.is-link {
  @extend %isLink;
  position: absolute;
  top: 45%;
  right: 0;
  transform: rotateZ(-45deg) translate3d(0, -50%, 0);
  margin-right: 10px;
}

.is-link-bottom {
  @extend %isLink;
  transform: rotateZ(45deg);
}

// muse dialog 样式重写
.mu-dialog {
  max-width: vw(540) !important;
  border-radius: 4px !important;
  width: 80vw;
  // height: 50vh !important;
  // .mu-dialog-body {
  //   height: 50vh !important;
  // }
}

// .mu-calendar {
//   width: 100% !important;
// }

// .mu-dialog-body {
//   min-width: auto !important;
// }

.mu-date-display, .mu-day-button-bg {
  background: $default-color !important;
}
.mu-flat-button-primary, .mu-year-button.selected .mu-year-button-text {
  color: $default-color !important;
}

.block-section {
  background-color: #fff;
  padding-left: $padding-aside;
  padding-right: $padding-aside;
  margin-bottom: vw(10);
  overflow: hidden;
}

.section-title-with-border-left {
  border-left: 4px solid $default-color;
  text-indent: 10px;
  line-height: 1.3;
  margin-bottom: vw(5);
}

.list-item {
  padding: vw(5) 0;
  &:not(:last-child) {
    border-bottom: 1px solid $line-color-light;
  }
}

.clearfix::after {
  content: "";
  overflow: hidden;
  clear: both;
  width: 0;
  height: 0;
  font-size: 0;
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.radio {
  margin-top: vw(8);
  margin-right: vw(8);
  margin-bottom: vw(8);
  flex: 1;
  .mu-radio-wrapper {
    justify-content: initial;
  }
  .mu-radio-label {
    font-size: vw(13);
    text-align: left;
  }
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
